<ion-view title="Medical Hisotry">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Document 1</div>
            <div class="item item-body"></div>
            <div class="item item-divider">Here is some medical info</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Document 2</div>
            <div class="item item-body"></div>
            <div class="item item-divider">Here is some medical info</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Document 3</div>
            <div class="item item-body"></div>
            <div class="item item-divider">Here is some medical info</div>
        </div>
    </ion-content>
</ion-view>