<ion-view title="Patientory Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/E0fjJKnwSCW3WaOMpYSs_d3e06c_37af49dd77864af4a9b776394158357f.png" width="auto" height="auto">
        </div>
        <div align="center">
            <h3 style="letter-spacing:0.2em">
                PATIENTORY
            </h3>
        </div>
        <div>
            <p>THE ONLY APP YOU'LL EVER NEED</p>

            <p>Tired of rummaging through piles of medical bills or forgot the last time you received a booster shot?​</p>
        </div>
        <a ui-sref="login" class="button button-assertive button-block ">LOG IN</a>
        <button class="button button-dark button-block ">SIGN UP</button>
    </ion-content>
</ion-view>