<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Patientory Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" style="background: url(img/U4TfFszwRvCMaLkB0Ubl_d3e06c_37af49dd77864af4a9b776394158357f.png) no-repeat center;" <="" ion-content="">
            <ion-list>
                <ion-item ui-sref="patientoryMenu.profile" menu-close="">Profile</ion-item>
                <ion-item ui-sref="patientoryMenu.medicalHisotry" menu-close="">Medical History</ion-item>
                <ion-item ui-sref="patientoryMenu.medications" menu-close="">Medications</ion-item>
                <ion-item ui-sref="patientoryMenu.bills" menu-close="">Bills</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>